
body {
    font-family: 'Noto Serif KR', serif;
    font-weight: 600;
    background-color: #f8f9fa;
}
.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
}
.card {
    transition: transform 0.3s ease-in-out;
    background: white;
    border-radius: 15px;
}
.card:hover {
    transform: scale(1.03);
}
.card-img-top {
    max-height: 150px;
    object-fit: contain;
}
