
body {
    font-family: 'Noto Serif KR', serif;
    font-weight: 600;
}
.navbar-brand {
    font-weight: 700;
}
.card {
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
}
